html{
    scroll-behavior: smooth;
}

body{
    background-color:#505050;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 8px black;
    width: 70%;
    margin: 30px auto 30px auto;
}

#header{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction:row; 
    justify-content: center; 
    align-items: center;
    color:black;
}

#title{
    margin-right: 110px;
    margin-left: -40px;
    margin-top: 15px;
    color:darkgray;
    clear: both;
    display: flex;
    align-items: center;
}

h1{
    font-family: sans-serif;
    font-weight: bold;
    float: left;
    margin-right: 30px;
}

h2{
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 26px;
    float: right;
}

#nav{
    margin-left: -30px;
    margin-top: 20px;
}

#navBtn{
    background-color:#0066FF;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    border: 2px solid black;
}

#navBtn:hover{
    background-color:skyblue;
    border-radius: 5px;
    border-radius: round;
}

a{
    text-decoration: none;
    color:black;
    display: flex;
    justify-content: center;
}

a:hover{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#container{
    color:darkgray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

img{
    width: 60%; 
    border: 2px solid black; 
    border-radius: 5px;
}

#footer{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    color:darkgray;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
}

/*media queries*/
@media screen and (max-width: 1200px) {
    #title{
        margin-right: 70px;
        margin-left: -20px;
        margin-top: 15px;
        color:darkgray;
        clear: both;
        display: flex;
        align-items: center;
    }

    h1{
        margin-right: 20px;
    }

    #nav{
        margin-right: 0;
    }
}

@media screen and (max-width: 900px){
    #title{
        margin-right: 70px;
        margin-left: 50px;
        margin-top: 15px;
        color:darkgray;
        clear: both;
        display: flex;
        align-items: center;
    }

    #nav{
        margin-left: 0;
        margin-top: 0;
    }

    img{
        width: 70%; 
        border: 2px solid black; 
        border-radius: 5px;
    }
}

@media screen and (max-width: 700px){
    #header{
        display: flex; 
        flex-wrap: wrap; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
        color:black;
    }

    #title{
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        color:darkgray;
        clear: both;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    h1{
        font-family: sans-serif;
        font-weight: bold;
        float: left;
        margin-right: 0;
    }
    
    h2{
        font-family: sans-serif;
        font-weight: bold;
        margin-top: -10px;
        float: right;
    }

    img{
        width: 100%; 
        border: 2px solid black; 
        border-radius: 5px;
    }
}